/* browsers set their own properties, reset.css helps us start on a blank slate */

/* root = the root of our tree = html, define a font for our entire html */
html { 
	font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
}

body,
/* change all of body's element*/
body * {
	margin:			unset;
	box-sizing:		unset;
	padding:		unset;
	font-size:		unset;
	color:			unset;
	text-decoration:unset;
}