@font-face {
  font-family: 'Arial Narrow';
  src: url('Arial Narrow.eot');
  src: url('Arial Narrow.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialNarrow';
  src: url('ArialNarrow.woff') format('woff'),
       url('ArialNarrow.svg#ArialNarrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

