body{
	background-color: white;
	overflow-x: scroll;
	overflow-y: hidden;
}


#img {
	margin: -3%;
	width: 105vw;
	height: 105vh;
	z-index: -1;
	position: fixed;
}

.text{
	position: absolute;
	z-index: 1000;
	padding-left: 5%;
	padding-right: 5%;
}


p{	
	color: yellow;
	font-size: 24pt;
	left: 10px;
	top: 5px;
	font-weight: italic;
	font-family: Helvetica, sans-serif;

}

a:link {
	color: yellow;
	text-decoration: none;
}

a:visited {
	color: yellow;
	text-decoration: none;
}

a:active {
	color: yellow;
	text-decoration: none;
}

a:hover {
	color: lime;
	text-decoration: none;
}

span:hover {
	 border-bottom: 1.5pt solid lime;
}
