body{
	background-color: white;
	overflow-x: hidden;
	overflow-y: hidden;
}


#img {
	margin: -3%;
	width: 105vw;
	height: 105vh;
	z-index: 0;
}

p{
	z-index: 1000;
	padding-left: 5%;
	padding-right: 5%;
	color: yellow;
	font-size: 24pt;
	position: absolute;
	left: 10px;
	top: 5px;
	font-weight: italic;
	font-family: 

}

a:link {
	color: yellow;
	text-decoration: none;
}

a:visited {
	color: yellow;
	text-decoration: none;
}

a:active {
	color: yellow;
	text-decoration: none;
}

a:hover {
	color: lime;
	text-decoration: none;
}

span{
	 border-bottom: 1.5pt solid yellow;
}

span:hover {
	 border-bottom: 1.5pt solid lime;
}
