
@font-face {
  font-family: Akkurat;
  src: url('assets/fonts/Akkurat.eot');
  src: url('assets/fonts/Akkurat.ttf')  format('truetype'),
	   url('assets/fonts/Akkurat.otf')  format('opentype');
  src: url('assets/fonts/Akkurat.svg#Akkurat') format('svg'),
       url('assets/fonts/Akkurat.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: white;
  padding: 1em;
  /*content: url('images/martin.png');*/
}

p {
  font-family: 'Lora', serif;
  font-family: 'Akkurat', Arial, sans-Serif;       /* If our typeface doesn't load, our "fallback" is Tahoma */
  font-size: 1.5em; /* 1em = 12pt = 16px = 100%. So 0.5em = 6pt... And 1.5em = 18pt */
  font-weight: normal;
  line-height: 1.25em; /* so 1.25em = 15pt */
  color: hotpink;
  margin-bottom: 1.3em;
}


/* Changes into one column when 2 x 200px columns are impossible */

article {
  -webkit-columns: 2 400px;   
     -moz-columns: 2 400px;
          columns: 2 400px;

  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
}  

img {
	width: 100vh;
	position: absolute;
	z-index: -1;
	opacity: 0.5;
}
